@model OpenKyrgyz.Core.Core.AllVerbForms

@if (Model is not null)
{
    <div class="row mt-3">
        <p>Базовая форма - <strong>@Model.BaseForm</strong></p>
        <p>Отглагольное существительное (кыймыл атооч) - <strong>@Model.NounFormPositive</strong> / <strong>@Model.NounFormNegative</strong> <i>(может быть неверно)</i></p>
        <p>Причастие (атоочтук) - <strong>@Model.ParticiplePositive</strong> / <strong>@Model.ParticipleNegative</strong></p>
        <p>Деепричастие (чакчыл) - <strong>@Model.GerundPositive</strong> / <strong>@Model.GerundNegative</strong></p>

        <h5>Залоги</h5>
        <p>Совместный залог (кош мамиле) - <strong>@Model.CooperativeMood</strong></p>
        <p>Понудительный залог (аркылуу мамиле) - <i>Пока нет алгоритма, т.к. имеет ненормированное окончание</i></p>
        <p>Возвратный залог (өздүк мамиле) - <strong>@Model.ReflexiveMood</strong></p>
        <p>Страдательный залог (туюк мамиле) - <strong>@Model.PassiveMood</strong></p>

        <hr/>
        <p>Форма выражения причины (<i>из-за того что</i>, <i>так как</i>) - <strong>@Model.CauseFormPositive</strong> / <strong>@Model.CauseFormNegative</strong></p>

        <h5>Временные формы</h5>
        <p>Форма <i>"когда ..."</i> - <strong>@Model.WhenForm</strong></p>
        <p>Форма <i>"до того, как ..."</i> - <strong>@Model.BeforeForm</strong></p>
        <p>Форма <i>"после того, как ..."</i> - <strong>@Model.AfterForm</strong></p>
        <p>Форма <i>"сразу как ..."</i> - <strong>@Model.AsSoonAsForm</strong></p>
        <p>Форма <i>"с каждым ..."</i> - <strong>@Model.WithEveryForm</strong></p>
        <p>Форма "пока что" (while) - <strong>@Model.WhileForm</strong></p>
        <p>Форма "пока не" (until) - <strong>@Model.UntilForm</strong></p>

    </div>
}