@model OpenKyrgyz.Core.Core.AllVerbForms

@if (Model is not null)
{
    <div class="row mt-3">
        <p>Базовая форма - <strong>@Model.BaseForm</strong></p>
        <p>Отглагольное существительное (кыймыл атооч) - <strong>@Model.NounFormPositive</strong> / <strong>@Model.NounFormNegative</strong> <i>(может быть
                неверна)</i></p>
        <p>Совместный залог (кош мамиле) - <strong>@Model.CooperativeMood</strong></p>
        <p>Понудительный залог (аркылуу мамиле) - <i>Пока нет алгоритма, т.к. имеет ненормированное окончание</i></p>
        <p>Возвратный залог (өздүк мамиле) - <strong>@Model.ReflexiveMood</strong></p>
        <p>Страдательный залог (туюк мамиле) - <strong>@Model.PassiveMood</strong></p>
        <p>Причастие (атоочтук) - <strong>@Model.ParticiplePositive</strong> / <strong>@Model.ParticipleNegative</strong></p>
        <p>Деепричастие (чакчыл) - <strong>@Model.GerundPositive</strong> / <strong>@Model.GerundNegative</strong></p>
        <p>Форма "пока что" (while) - <strong>@Model.WhileForm</strong></p>
        <p>Форма "пока не" (until) - <strong>@Model.UntilForm</strong></p>
        <p>Форма выражения причины - <strong>@Model.CauseFormPositive</strong> / <strong>@Model.CauseFormNegative</strong></p>
    </div>
}