@model OpenKyrgyz.Core.Core.AllVerbForms

@if (Model is not null)
{
    <div class="row mt-3">
        <p>Базовая форма - <strong>@Model.BaseForm</strong></p>
        <p>Отглагольное существительное (кыймыл атооч) - <strong>@Model.NounFormPositive</strong> / <strong>@Model.NounFormNegative</strong></p>
        <p>Совместный залог (кош мамиле) - <strong>@Model.CooperativeMood</strong></p>
        <p>Понудительный залог (аркылуу мамиле) - <strong>TO DO</strong></p>
        <p>Возвратный залог (өздүк мамиле) - <strong>@Model.ReflexiveMood</strong></p>
        <p>Страдательный залог (туюк мамиле) - <strong>@Model.PassiveMood</strong></p>
        <p>Причастие (атоочтук) - <strong>@Model.ParticiplePositive</strong> / <strong>@Model.ParticipleNegative</strong></p>
        <p>Деепричастие (чакчыл) - <strong>@Model.GerundPositive</strong> / <strong>@Model.GerundNegative</strong></p>
    </div>
}