@model OpenKyrgyz.Core.Models.Verbs.VerbConjugatedInOptativeMood

@if (Model is not null)
{
    <h4>Желательное наклонение (Каалоо-тилек ыңгайы)</h4>
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">Форма</th>
            <th scope="col">Утверждение</th>
            <th scope="col">Отрицание</th>
            <th scope="col">Вопрос</th>
            <th scope="col">Отрицание + вопрос</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>Мен</b></td>
            <td>@Model.МенPositive</td>
            <td>@Model.МенNegative</td>
            <td>@Model.МенInterrogative</td>
            <td>@Model.МенNegativeInterrogative</td>
        </tr>
        <tr>
            <td><b>Биз</b></td>
            <td>@Model.БизPositive</td>
            <td>@Model.БизNegative</td>
            <td>@Model.БизInterrogative</td>
            <td>@Model.БизNegativeInterrogative</td>
        </tr>
        </tbody>
    </table>
}