@model OpenKyrgyz.Core.Models.Verbs.AllVerbForms

@if (Model is not null)
{
    <div class="row mt-3">
        <p>Базовая форма - <b>@Model.BaseForm</b></p>
        <p>Отглагольное существительное (кыймыл атооч) - <b>@Model.NounFormPositive</b> / <b>@Model.NounFormNegative</b> <i>(может быть неверно)</i></p>
        <p>Причастие (атоочтук) - <b>@Model.ParticiplePositive</b> / <b>@Model.ParticipleNegative</b></p>
        <p>Деепричастие (чакчыл) - <b>@Model.GerundPositive</b> / <b>@Model.GerundNegative</b></p>
        <p>Причастие в страдательном залоге - <b>@Model.PassiveParticiplePositive</b> / <b>@Model.PassiveParticipleNegative</b></p>
        
        

        <h5>Залоги</h5>
        <p>Совместный залог (кош мамиле) - <b>@Model.CooperativeMood</b></p>
        <p>Понудительный залог (аркылуу мамиле) - <i>Пока нет алгоритма, т.к. имеет ненормированное окончание</i></p>
        <p>Возвратный залог (өздүк мамиле) - <b>@Model.ReflexiveMood</b> <i>(может не иметь смысла с некоторыми глаголами)</i></p> 
        <p>Страдательный залог (туюк мамиле) - <b>@Model.PassiveMood</b> <i>(может не иметь смысла с некоторыми глаголами)</i></p> 

        <hr/>
        <p>Форма выражения цели (I) - <b>@Model.GoalFormPositive</b> / <b>@Model.GoalFormNegative</b></p>
        <p>Форма выражения цели (II) - <b>@Model.GoalCooperativeFormPositive</b> / <b>@Model.GoalCooperativeFormPositive</b></p>
        <p>Форма выражения цели (III) - <b>@Model.GoalNounFormPositive</b> / <b>@Model.GoalNounFormNegative</b> <i>(может быть неверно)</i></p>
        <p>Форма дополнения (для инфинитивных оборотов) - <b>@Model.DirectObjectForm</b></p>
        <p>Форма образа действия (<i>"как ..."</i>) - <b>@Model.LikeFormPositive</b> / <b>@Model.LikeFormNegative</b></p>
        <p>Форма выражения причины (<i>из-за того что</i>, <i>так как</i>) - <b>@Model.CauseFormPositive</b> / <b>@Model.CauseFormNegative</b></p>

        <h5>Временные формы</h5>
        <p>Форма <i>"когда ..."</i> - <b>@Model.WhenForm</b></p>
        <p>Форма <i>"до того, как ..."</i> - <b>@Model.BeforeForm</b></p>
        <p>Форма <i>"после того, как ..."</i> - <b>@Model.AfterForm</b></p>
        <p>Форма <i>"сразу как ..."</i> - <b>@Model.AsSoonAsForm</b></p>
        <p>Форма <i>"с каждым ..."</i> - <b>@Model.WithEveryForm</b></p>
        <p>Форма <i>"пока что ..."</i> (while) - <b>@Model.WhileForm</b></p>
        <p>Форма <i>"пока не ..."</i> (until) - <b>@Model.UntilForm</b></p>

    </div>
}