@model OpenKyrgyz.WebApp.Pages.Verbs.Models.VerbImperativesTableViewModel?

@if (Model is not null)
{
    <h4>Повелительное наклонение (Буйрук ыңгай)</h4>
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">Форма</th>
            <th scope="col">Утверждение</th>
            <th scope="col">Отрицание</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>Сен</b></td>
            <td>@Model.Positive.Сен</td>
            <td>@Model.Negative.Сен</td>
        </tr>

        <tr>
            <td><b>Сен (вежливая)</b></td>
            <td>@Model.Positive.СенPolite</td>
            <td>@Model.Negative.СенPolite</td>
        </tr>
        <tr>
        <td><b>Сен (приказ)</b></td>
            <td>@Model.Positive.СенOrder</td>
            <td>@Model.Negative.СенOrder</td>
        </tr>

        <tr>
            <td><b>Сиз</b></td>
            <td>@Model.Positive.Сиз</td>
            <td>@Model.Negative.Сиз</td>
        </tr>

        <tr>
            <td><b>Ал</b></td>
            <td>@Model.Positive.Ал</td>
            <td>@Model.Negative.Ал</td>
        </tr>

        <tr>
            <td><b>Силер</b></td>
            <td>@Model.Positive.Силер</td>
            <td>@Model.Negative.Силер</td>
        </tr>

        <tr>
            <td><b>Сиздер</b></td>
            <td>@Model.Positive.Сиздер</td>
            <td>@Model.Negative.Сиздер</td>
        </tr>
        <tr>
            <td><b>Алар</b></td>
            <td>@Model.Positive.Алар</td>
            <td>@Model.Negative.Алар</td>
        </tr>
        </tbody>
    </table>
}